/* write your override styles here */
/* write your override styles here */
.tag-1 {
  background: url(../images/tag-1.png) no-repeat;
  z-index: 7;
  display: block;
  width: 500px;
  height: 300px;
  display: none;
}

#wall .tag-1 {
  display: none;
  width: 500px;
  height: 300px;
}

#tag-2{
  z-index: 7;
  display: block;
  width: 500px;
  height: 300px;
  display: none;
}

#tag-3{
  z-index: 7;
  display: block;
  width: 500px;
  height: 300px;
  display: none;
}